* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(230, 55, 158);
}


nav img {
  width: 80px;
}


.menu {
  display: flex;
  gap: 30px;
}


.menu a {
  text-decoration: none;
  color: rgb(229, 222, 15);
  font-weight: bold;
}


nav > a {
  background-color: rgb(229, 222, 15);
  color: rgb(230, 55, 158);
  font-weight: bold;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}


#menu_bar {
  display: none;
}


label[for="menu_bar"] {
  display: none;
}


main {
  margin-top: 78px;
}


.compañia {
  width: 100%;
  text-align: center;
  padding: 40px;
}


.contenido-compañia {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}


.texto-compañia {
  width: 45%;
}


.imagen-compañia {
  width: 55%;
}

.imagen-compañia img {
  width: 100%;
}


.compañia h2 {
  color: rgb(229, 222, 15);
  margin-bottom: 30px;
}


.compañia h3 {
  color: rgb(229, 222, 15);
  margin-top: 25px;
  margin-bottom: 10px;
}


.compañia p {
  margin-bottom: 20px;
}


.porque-elegir {
  width: 100%;
  text-align: center;
  padding: 40px;
}


.porque-elegir h2 {
  color: rgb(229, 222, 15);
  margin-bottom: 30px;
}


.contenedor-ventajas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.ventaja {
  width: 22%;
  background-color: #e4cbfa;
  padding: 20px;
  border-radius: 10px;
}


.ventaja i {
  font-size: 35px;
  color: rgb(230, 55, 158);
  margin-bottom: 15px;
}

.ventaja h3 {
  color: rgb(230, 55, 158);
  margin-bottom: 15px;
}

.ventaja p {
  margin-bottom: 10px;
}

footer {
  width: 100%;
  background-color: rgb(230, 55, 158);
  text-align: center;
  padding: 25px;
}


.redes {
  margin-bottom: 20px;
}

.redes a {
  text-decoration: none;
  color: rgb(229, 222, 15);
  font-size: 30px;
  margin: 0 15px;
}


footer hr {
  margin-bottom: 20px;
}


footer p {
  color: white;
}

/* DISEÑO PARA CELULAR */

@media (max-width: 480px) {

  label[for="menu_bar"] {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: rgb(229, 222, 15);
  }

  .menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgb(230, 55, 158);
    display: none;
    flex-direction: column;
    text-align: center;
  }

  .menu a {
    padding: 15px;
  }
  #menu_bar:checked ~ .menu {
    display: flex;
  }
  .compañia {
      padding: 25px 15px;
  }
  footer {
    padding: 20px 10px;
  }
  .redes a {
    font-size: 28px;
    margin: 0 10px;
  }
  .ventaja {
    width: 85%;
  }
  #nosotros {
    flex-direction: column;
  }
  #nosotros img {
    width: 100%;
  }

}