* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}


header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(230, 55, 158);
}


nav img {
    width: 80px;
}


.menu {
    display: flex;
    gap: 30px;
}


.menu a {
    text-decoration: none;
    color: rgb(229, 222, 15);
    font-weight: bold;
}


nav > a {
    background-color: rgb(229, 222, 15);
    color: rgb(230, 55, 158);
    font-weight: bold;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}


#menu_bar {
    display: none;
}


label[for="menu_bar"] {
    display: none;
}

main {
    margin-top: 78px;
}


.productos-titulo {
    width: 100%;
    text-align: center;
    padding: 40px;
}

.productos-titulo h1 {
    color: rgb(229, 222, 15);
    margin-bottom: 20px;
}

.productos-titulo p {
    margin-bottom: 10px;
}


.productos-container {
    width: 100%;
    padding: 20px 40px 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 25px;
    flex-wrap: wrap;
}


.producto-card {
    width: 30%;
    background-color: #e4cbfa;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}


.producto-card img {
    width: 100%;
    height: 330px;
    object-fit: contain;
    display: block;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #e4cbfa;
}


.producto-card h2 {
    color: rgb(230, 55, 158);
    margin-bottom: 10px;
}


.producto-card p {
    margin-bottom: 15px;
}


.producto-card span {
    display: block;
    color: rgb(230, 55, 158);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}


.producto-card button {
    background-color: rgb(230, 55, 158);
    color: rgb(229, 222, 15);
    border: none;
    padding: 8px 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}
.producto-card button:hover{
    background-color: #1877F2;
    box-shadow: 2px 2px 4px rgb(15, 37, 229);
}


.producto-card button:hover {
    opacity: 0.8;
}


footer {
    width: 100%;
    background-color: rgb(230, 55, 158);
    text-align: center;
    padding: 25px;
}


.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.redes a {
    width: 55px;
    height: 55px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes a i {
  font-size: 26px;
}
.redes a .fa-whatsapp  { color: #075E54; }
.redes a .fa-facebook  { color: #1877F2; }
.redes a .fa-instagram { color: #C13584; }
.redes a .fa-youtube   { color: #FF0000; }

footer hr {
    margin-bottom: 20px;
}

footer p {
    color: white;
}


/* DISEÑO PARA CELULAR */

@media (max-width: 480px) {

    label[for="menu_bar"] {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: rgb(229, 222, 15);
    }


    .menu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgb(230, 55, 158);
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .menu a {
        padding: 15px;
    }

    #menu_bar:checked ~ .menu {
        display: flex;
    }

    .productos-titulo {
        padding: 25px 15px;
    }

    .productos-titulo h1 {
        font-size: 28px;
    }

    .productos-titulo p {
        font-size: 15px;
    }

    .productos-container {
        flex-direction: column;

        align-items: center;

        padding: 15px;
    }

    .producto-card {
        width: 90%;

        margin-bottom: 20px;
    }

    .producto-card img {
        height: 220px;
    }

    footer {
        padding: 20px 10px;
    }

    .redes a {
        font-size: 28px;

        margin: 0 10px;
    }

}